:root {
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate400: #f1f5f9;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;



    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

.featured__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.featured__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-indigo);
    text-transform: capitalize;
    font-weight: 400;

}

.featured__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
}

.featured__link {

    width: var(--size-2xl);
    height: var(--size-2xl);
}
.featured__description{
    max-width: 60ch;
    color: var(--clr-slate600);
    font-size: var(--size-sm);
    margin: 1rem 0;
}

.featured__label{
    font-size: var(--size-base);
    text-transform: capitalize;
    margin: 0.25em;
}
.featured__tech-stack{
    padding: 0;
    list-style: none;
}
.featured__info{
    font-size: var(--size-sm);
    color: var(--clr-slate600);   
    text-transform: capitalize;
}
.featured__info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.featured__info-container div{
    flex: 1;
    min-width: 250px;
}
.featured__img-wrapper{
    position: relative;
}
.featured__img-wrapper::after{
    content: '';
    background-color: rgba(79, 70, 229, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;

}
.featured__img-wrapper:hover::after{
    background-color: rgba(79, 70, 229, 0.1);
}

.featured__img-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
/* xs */
@media (min-width: 475px) {
    .featured__subtitle {
        font-size: var(--size-base);
    }

    .featured__title {
        font-size: var(--size-3xl);
    }

    .featured__link {

        width: var(--size-3xl);
        height: var(--size-3xl);
    }
    .featured__description{
        
        font-size: var(--size-base);
        margin: 1.5rem 0;
    }
    .featured__label{
        font-size: var(--size-lg);
    }
    .featured__info{
        font-size: var(--size-base);
        
    }

}

/* sm */
/* @media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
} */

/* md */
/* @media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
} */

/* lg */
@media (min-width: 1024px) {
    .featured__subtitle {
        font-size: var(--size-lg);
    }

    .featured__title {
        font-size: var(--size-4xl);
    }

    .featured__link {

        width: var(--size-4xl);
        height: var(--size-4xl);
    }
    .featured__description{
        
        font-size: var(--size-lg);
        
    }
    .featured__label{
        font-size: var(--size-xl);
    }
    .featured__info{
        font-size: var(--size-lg);
        
    }
}

/* xl */
@media (min-width: 1280px) {
    .featured__subtitle {
        font-size: var(--size-xl);
    }

    .featured__title {
        font-size: var(--size-5xl);
    }
    .featured__link{
    
        width: var(--size-5xl);
        height: var(--size-5xl);
    }
    .featured__description{
        
        font-size: var(--size-xl);
        margin: 2rem 0;
    }
    .featured__label{
        font-size: var(--size-2xl);
    }
    .featured__info{
        font-size: var(--size-xl);
        
    }
}

/* 2xl */
/* @media (min-width: 1450px) {
    .container {
        max-width: 1450px;
    }
}  */